-e git+ssh://github.com/WolfSGI/kettu.git@httplib#egg=kettu
-e git+ssh://github.com/WolfSGI/autorouting.git#egg=autorouting
-e git+ssh://github.com/WolfSGI/signature_registries.git#egg=signature_registries
-e .
