ZODB
authsources_keycloak >= 0.3
colander
deform == 3.0.1
http_session_file
jsonschema_colander@git+https://github.com/novareto/jsonschema_colander.git
pydantic
redis == 5.1.1
granian
rq
sqlmodel
transaction
-e git+https://github.com/WolfSGI/wolf_sql.git#egg=wolf_sql
-e git+https://github.com/WolfSGI/wolf_jwt.git#egg=wolf_jwt
-e git+https://github.com/WolfSGI/wolf_form.git#egg=wolf_form
-e ..
